---
import Layout from "../../../layouts/Layout.astro";
import Aside from "../../../components/Aside.astro";
import Header from "../../../components/Header.astro";
import { getCollection } from "../../../../lexgi.mjs";
import { slugify } from "../../../../utils.js"
import { API_URL } from "../../../consts.mjs";
import FieldFormRow from "../../../components/FieldFormRow.astro";

const identityCookieValue = Astro.cookies.get("identity")?.value;

let identity = null;
let token: string | null = null;

try {
  if (identityCookieValue) {
    identity = JSON.parse(identityCookieValue);
    token = identity.token;
  }
} catch (error) {
  console.error("Error al analizar el valor de la cookie:", error);
  // Puedes tomar acciones adicionales aquí, según tus necesidades.
}

const currentLang = 'es';
const title = "Lexgi CMS";
const { collection: collectionSlug, id } = Astro.params;
const document = await getCollectionDocById(id || '');

const collection = getCollection(collectionSlug);
const fields = collection?.fields;

const mainFields: any[] = [];
const sidebarFields: any[] = [];
const fieldCheckedDocsIds:any = {};

await separateFields(fields);

async function separateFields(fields:any) {
  await Promise.all(fields.map(async (field:any) => {
    if (field?.options?.sidebar) {
      sidebarFields.push(field);
    } else {
      mainFields.push(field);
    }

    if (field.relationTo) {
      await addRelationField(field);

      getRelationDocsChecked(field)
      
    }
  }));
}
async function addRelationField(field:any){
  
  const {name, relationTo} = field;
  const relationToSlug = slugify(relationTo);

  const relationCollection = getCollection(relationToSlug);

  let docs:any = await getCollectionDocs(relationToSlug) || [];

  field.docs = docs;
  field.useAsTitleRelation = relationCollection.useAsTitle || 'name';
  field.useAsSubtitleRelation = relationCollection.useAsSubtitle || null;
}


async function updateDoc(formData:any) {
  try {
    const res = await fetch(API_URL + collectionSlug + '/' + id, {
      method: "PATCH",
      body: formData,
      headers: {
        Authorization: "Bearer " + token,
      }
    });

    if (!res.ok) {
      throw new Error(`HTTP error! status: ${res.status}`);
    }

    // const data = await res.json();
    // console.log({data})

    // return data;

  } catch (error) {
    console.error(error);
  }
}

async function getCollectionDocs(collectionSlug:string){
  try {
    const res = await fetch(API_URL + collectionSlug, 
      {
        method: "GET",
        headers: {
          Authorization: "Bearer " + token,
        },
      }
    );

    const data = await res.json();

    return data;

  } catch (error) {
    console.error(error);
  }
}

async function getCollectionDocById(id:string){
  try {
    const res = await fetch(API_URL + collectionSlug + '/' + id, 
      {
          method: "GET",
      }
    );

    const data = await res.json();

    return data;

  } catch (error) {
    console.error(error);
  }
}

function getRelationDocsChecked(field:any){
  const arrayOfDocs = document[field.name]
  fieldCheckedDocsIds[field.name] = [];
  
  if (field.hasMany){
    arrayOfDocs?.forEach((doc:any) => {
      fieldCheckedDocsIds[field.name].push(doc._id)
    });
  } else {
    if(arrayOfDocs?._id){
      fieldCheckedDocsIds[field.name].push(arrayOfDocs._id)
    }    
  }
  
}

if (Astro.request.method === "POST") {
  try {
    console.log("POST")
    let formData = await Astro.request.formData();
    console.log(formData)
    // Crear un nuevo objeto FormData
    // Crear un nuevo objeto FormData
    let newFormData = new FormData();
    let menuItems = {};
    // Añadir solo los campos que no están vacíos al nuevo objeto FormData
    for (let [key, value] of formData.entries()) {
      if(typeof value === 'object' && value?.size === 0 && value.name === 'undefined') {
        console.log('Es imagen y undefined')
      } else {
        if(value != document[key] && value != ''){
          console.log("Este es distinto: " + value)

          console.log({key, value})

          let splitedKey = key.split('.');

          if(splitedKey.length > 1){
            
            assignValue(menuItems, key, value);
            console.log(key + ' es array')
            console.log(menuItems)
            newFormData.append(key, value);
          } else {
            newFormData.append(key, value);
          }

          
        }
      }
    }

    // Llamar a la función createDoc con el newFormData
    await updateDoc(newFormData);
    return Astro.redirect('/admin/' + collectionSlug)

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

function assignValue(obj:any, path:any, value:any) {
    let parts = path.split('.');
    let current = obj;
    for (let i = 0; i < parts.length; i++) {
        let part = parts[i];
        if (i === parts.length - 1) {
            // Si la propiedad ya existe y es un objeto, anida la nueva propiedad dentro de ese objeto
            if (current[part] && typeof current[part] === 'object') {
                current[part] = Object.assign(current[part], value);
            } else {
                current[part] = value;
            }
        } else {
            if (!current[part]) {
                // Si el índice es numérico, crea un array, de lo contrario crea un objeto
                current[part] = isNaN(parseInt(parts[i + 1])) ? {} : [];
            }
            current = current[part];
        }
    }
}
---

<Layout title={collectionSlug}>

  <div class="layout aside-opened">
    <button class="toggle-aside-button" data-toggle-nav id="toggle-nav">
      <svg
        class="icon-open-menu"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>
    <Aside />
    <div class="layout-content">
      <Header collection={collection} breadcumbAction="Update" />
      <main class="main padding-0">
        <form method="POST" enctype="multipart/form-data" class="create-document flex-auto flex flex-col">
          <header
            class="page-header sticky top-0 z-30 py-6 bg-white block sm:flex items-center justify-between lg:mt-1.5 dark:bg-[#000] dark:border-zinc-700"
          >
            <div class="flexee-container w-full flex justify-between items-center">
              <div class="flex gap-4">
                <h1
                  class="text-xl font-semibold text-zinc-900 sm:text-2xl dark:text-white"
                >
                  { collection?.useAsTitle ? document[collection?.useAsTitle] : document?.name || document?.slug || document?._id}
                </h1>
                
                <a
                  href={`/admin/${collectionSlug}/create`}
                  type="button"
                  data-modal-target="add-user-modal"
                  data-modal-toggle="add-user-modal"
                  class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                >
                  <svg
                    class="w-5 h-5 mr-2 -ml-1"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"></path></svg
                  >
                   Add new
                </a>
              </div>

              <div class="flex gap-4 items-center">
                <div class="flex mr-4">
                  
                  <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="w-11 h-6 bg-zinc-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-violet-300 dark:peer-focus:ring-violet-800 rounded-full peer dark:bg-zinc-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-zinc-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-zinc-600 peer-checked:bg-violet-600"></div>
                    <span class="ms-3 text-sm font-medium text-zinc-900 dark:text-zinc-300">View API Rest</span>
                  </label>

                </div>
                <button type="submit" class="text-white bg-violet-700 hover:bg-violet-900 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-violet-900 focus:outline-none dark:focus:ring-violet-800">
                  Guardar cambios
                </button>
              </div>
            </div>
          </header>

          <div class="flexee-container document-form flex-auto">
            <div class="document-form__main flex flex-col gap-6">
              {
                mainFields.map((field:any) => (
                  // <div class="form-row">
                  //   <div class={field?.type === "boolean" ? 'form-field flex-row gap-6' : 'form-field flex-col gap-6'}>
                  //     <label for={field.name}>
                  //       {
                  //         () => {
                  //           if (typeof field?.label === 'object') {
                  //             const result = field?.label[currentLang]
                  //             return result
                  //           } else if (typeof field?.label === 'string') {
                  //             const result = field?.label;
                  //             return result
                  //           } else {
                  //             return capitalizeFirstLetter(field?.name.replaceAll("_", " "))
                  //           }
                  //         }
                  //       }

                  //       {field?.required && (
                  //         <span class="required-symbol">*</span>
                  //       )}
                  //     </label>

                  //     {field?.type === "text" && (
                  //       <input type="text" id={field.name} name={field.name} value={document[field.name]} />
                  //     )}

                  //     { collection?.slug === 'users' ?
                        
                  //       field?.type === "password" && (                       
                  //         <div class="password-update flex flex-col items-start gap-6">
                          
                  //           <div id="dropdown-example-2" class="hidden w-full">
                  //             <input type="password" id={field.name} name={field.name} placeholder="Add new password"/>
                  //           </div>
                  //           <button type="button" class="text-white bg-zinc-700 hover:bg-zinc-900 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg text-sm px-6 py-3 dark:bg-zinc-900 focus:outline-none dark:focus:ring-zinc-800" aria-controls="dropdown-example-2" data-collapse-toggle="dropdown-example-2">
                  //             Change password
                  //           </button>
                            
                  //         </div>
                  //       )                       
                  //       :
                  //       field?.type === "password" && (
                  //         <input type="password" id={field.name} name={field.name} value={document[field.name]}/>
                  //       )

                  //     }

                  //     {field?.type === "number" && (
                  //       <input
                  //         id={field.name}
                  //         name={field.name}
                  //         type="number"
                  //         value={document[field.name]}
                  //       />
                  //     )}

                  //     {(field?.type === "images" ||
                  //       field?.type === "image") && (

                  //       <UploadField client:load name={field.name} file={!field?.hasMany ? document[field.name] : null} files={field?.hasMany ? document[field.name] : []} multiple={field?.type === "images"}></UploadField>

                  //     )}

                  //     {field?.type === "relation" &&
                  //       <div class="relative">
                  //         <button data-dropdown-toggle={field?.name} data-dropdown-placement="bottom" class="w-full justify-between text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-4 text-center inline-flex items-center dark:bg-zinc-900 dark:hover:bg-violet-700 dark:focus:ring-violet-800" type="button">
                  //           {fieldCheckedDocsIds[field?.name].length} Selected
                  //           <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  //             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  //           </svg>
                  //         </button>

                  //         <div id={field?.name} class="z-10 hidden bg-white rounded-lg shadow w-full dark:bg-[#18181b]">
                  //           <ul class="h-48 p-3 overflow-y-auto text-sm text-zinc-700 dark:text-zinc-200" aria-labelledby="dropdownSearchButton">
                  //             {field?.docs?.map((doc:any) => (
                  //               <li>
                  //                 <div class="flex items-center ps-2 rounded hover:bg-zinc-100 dark:hover:bg-zinc-600">
                  //                   <input 
                  //                   checked={fieldCheckedDocsIds[field?.name]?.indexOf(doc._id) !== -1} 
                  //                   id={doc._id} 
                  //                   name={field?.name} 
                  //                   type="checkbox" 
                  //                   value={doc._id} 
                  //                   class="text-violet-500 w-4 h-4 bg-zinc-100 border-zinc-300 rounded focus:ring-violet-500 dark:focus:ring-violet-600 dark:ring-offset-zinc-700 dark:focus:ring-offset-zinc-700 focus:ring-2 dark:bg-zinc-600 dark:border-zinc-500"/>
                                    
                  //                   <label for={doc._id} class="w-full py-2 ms-2 text-sm font-medium text-zinc-900 rounded dark:text-zinc-300">
                  //                       {
                  //                         Object.keys(doc).map((key:any, i:number) => (
                  //                           i < 3 && key != '_id' && doc[key] != null &&                                              
                  //                           <div>
                  //                             {doc[key]}
                  //                           </div>                                             
                                            
                  //                         ))
                  //                       }
                  //                   </label>
                  //                 </div>
                  //               </li>
                  //             ))}
                  //           </ul>
                  //         </div>
                                                 
                  //       </div>
                  //     }

                  //     {field?.type === "select" && (
                  //       <select
                  //         id={field.name}
                  //         name={field.name}
                  //         class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-violet-500 focus:border-violet-500 block w-full p-4 dark:bg-[#000] dark:border-[#eeeeee14] dark:placeholder-zinc-400 dark:text-white dark:focus:ring-violet-500 dark:focus:border-violet-500"
                  //       >
                  //         <option selected>Choose a {field?.name}</option>
                          
                  //         { 
                  //           field?.enum.map((option:any) => (
                  //             <option selected={document[field?.name] === option} value={option}>{option}</option>
                  //           ))
                  //         }
                          
                  //       </select>
                  //     )}

                      
                  //     {field?.type === "richText" && <MyRich name={field.name} client:load value={document[field.name] || ''}></MyRich>}

                  //     {field?.type === "boolean" &&
                  //       <div class="flex">
                  //         <input
                  //         id={field.name}
                  //         name={field.name}
                  //         type="checkbox"
                  //         value={document[field.name]}
                  //         />
                  //       </div>
                  //     }
                  //   </div>
                  // </div>
                  <FieldFormRow collection={collection} field={field} fieldCheckedDocsIds={fieldCheckedDocsIds} document={document}></FieldFormRow>
                ))
              }
              
            </div>

            { sidebarFields.length > 0 &&
              <div class="document-form__aside flex flex-col gap-6">
                {
                  sidebarFields.map((field) => (
                    <FieldFormRow collection={collection} field={field} fieldCheckedDocsIds={fieldCheckedDocsIds} document={document}></FieldFormRow>
                  ))
                }
              </div>
            }
          </div>
        </form>
      </main>
    </div>
  </div>
</Layout>

<script>
  const toggleNavBtn = document.querySelector("[data-toggle-nav]");
  const layout = document.querySelector(".layout");
  const aside = document.querySelector(".aside");

  // Add event listeners to fire confetti when a button is clicked.

  toggleNavBtn?.addEventListener("click", () => {
    if (layout?.classList.contains("aside-opened")) {
      layout?.classList.remove("aside-opened");
      aside?.classList.remove("aside-opened");
    } else {
      layout?.classList.add("aside-opened");
      aside?.classList.add("aside-opened");
    }
  });
</script>

<style>
  h1 {
    margin: 0;
  }

  .page-header {
    border-bottom: 1px solid rgb(255 255 255 / 7%) !important;
  }

  .no-content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: 3rem 0;

    & p {
      font-size: 0.84em;
      color: #a7a7a7;
      margin: 0;
    }

    & button {
      padding: 12px 24px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background: #fff;
      color: #000;
      font-weight: 600;
    }
  }

  .document-form {
    display: grid;
    grid-template-columns: 1fr 490px;
  }

  .document-form__aside,
  .document-form__main {
    flex: auto;
    padding: 3rem 4rem;
  }


  .document-form__main {
    padding-left: 0;
  }

  .document-form__aside {
    max-width: 490px;
    border-left: 1px solid rgb(255 255 255 / 7%);
    width: 100%;
    padding-right: 0;
  }

  .rich-text-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .rich-text-editor header button {
    background: #252525;
    padding: 4px;
    font-size: 0.8rem;
    border-radius: 4px;
    width: 30px;
    height: 30px;
  }
  
</style>